@font-face {
  font-family: droid_sans;
  src: url(DroidSans.ttf);
}
@font-face {
  font-family: droid_sans;
  src: url(DroidSans-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: abril;
  src: url(AbrilFat.ttf);
}
/*desk*/
  /*responsive*/
  i.mobile.bars{
    display:none;
  }
  img#process_small.mobile{
    display: none;
  }
  /*overall*/
  *{
    box-sizing: border-box;
  }
  html{
    font-size: 10px;
    font-family: droid_sans,arial,sans-serif;
  }
  div.container{
    margin: 0 auto 0 auto;
    width:88%;
  }
  /*font at various sizes*/
  h1{
    font-size: 6.75rem;
    font-family: abril,arial,sans-serif;
  }
  h2{
    font-size: 4.5rem;
  }
  h3{
    font-size: 3.6rem;
  }
  h4{
    font-size: 3rem;
  }
  h5{
    font-size: 2.6rem;
  }
  p{
    font-size: 2.4rem;
  }
  a button{
    font-size: 2.4rem;
  }
  /*picture size*/
  #hero{
    width: 356px;
  }
  #process_small{
    width: 334px;
  }
  #process_large{
    width: 95%
  }
  #matt, #mike{
    width: 130px;
  }
  img.logo{
    float: left;
    height:3.6rem;
  }
  i.bars{
    font-size: 2.9rem;
  }
  i.social{
    font-size: 2.5rem;
  }
  /*boxes*/
  /*boxes floating*/
  .column{
    float: left;
  }
  .testmony{
    float: right;
  }
  /*overflow control*/
  section.green,
  section.purple,
  section.black,
  section.yellow,
  section.grey{
    overflow-y: auto;
    overflow-x: hidden;
  }
  /*color boxes*/
  .green{
    background-color: #18AE64;
    color: #ffffff;
    width: 100%;
  }
  .purple{
    background-color: #AA28FF;
    color: #ffffff;
    width: 100%;
  }
  .black {
    width: 100%;
    background-color: #000000;
    color: #ffffff;
  }

  .yellow{
    width: 100%;
    background-color: #BAF080;
    color: #000000;
  }
  .grey{
    width: 100%;
    background-color: #DADADA;
    color: #000000;
  }
  /*box top bottom margin padding*/
  nav{
    padding: 0 4.6% 0 4.6%;
  }
  img.logo{
    display: inline-block;
    margin: 2.4rem 0 0 0;
  }
  p.logo{
    display: inline-block;
    font-weight: bold;
    font-size: 1.8rem;
    margin: 3.6rem 0 1rem 2.45rem;
  }
  nav ul{
    display: inline-block;
    font-size: 1.8rem;
    float: right;
    margin: 3.6rem 0 0 0;
  }
  nav li{
    display: inline-block;
    margin-left: 4.2rem;
  }

  i.bars{
    display: inline-block;
    float: right;
    margin: 1rem 0 0 0;
  }
  section.green{
    text-align: center;
    padding-bottom: 23.4rem;
  }
  #hero{
    margin-top: 14.4rem;
    margin-left: 7%;
    margin-right: 0;
    float: left;
  }
  article.column.slogan{
    float: right;
    text-align: center;
    width: 52%;
    margin: 21.6rem 7% 0 0;
  }
  .green h1{
    margin: 0;
    line-height: 6.75rem;
  }
  #slogan{
    margin: 5.4rem auto 0 auto;
    line-height: 4.5rem;
    padding: 0 2rem 0 2rem;
  }
  #slogan a{
    color: #ffffff;
  }
  .purple div.container{
    padding: 16.2rem 0 18rem 4.6%;
    overflow:auto;
  }
  .purple .row{
    width: 100%;
    text-align:left;
  }
  .purple h1{
    margin: 0;
  }
  .purple article.column{
    margin-top: 7.2rem;
    text-align: left;
    margin-right: 8%;
  }
  .purple article#middle{

  }
  .purple article#rightmost{
    margin-right: 0;
  }
  .purple article.column h4{
    margin-top: 7.2rem;
  }

  article.case{
    padding:9rem 6% 9rem 6%;
    width: 50%;
  }
  article.case.fixheight{
    height: 60rem;
  }
  .case h2{
    font-weight:600;
    margin:0;
  }
  .case p{
    margin:3.6rem 0 4.5rem 0;
    line-height: 3.6rem;
  }
  p#caseIntro{
    font-size: 2.8rem;
    margin-top: 5.4rem;
    line-height: 4.5rem;
  }
  .case button{
    background-color: #000000;
    border: solid 1px #ffffff;
    color: #ffffff;
    display:block;
    font-family: droid_sans,arial,sans-serif;
    margin:1.8rem 0 0 0;
    padding: 2.7rem 0 2.7rem 0;
    text-align: center;
    width: 22.8rem;
  }

  .case a{
    text-decoration: none;
  }
  .yellow div.container{
    padding: 18rem 11% 21.6rem 11%;
    text-align: left;
  }

  .yellow h2{
    color: rgba(0,0,0,0.7);
    font-family:  abril,arial,sans-serif;
    font-size: 6.75rem;
    margin: 0;
  }

  .yellow h4{
    margin: 10.8rem 0 0 0;
    line-height: 4.5rem;
    width: 72%
  }
  .yellow h3{
    margin: 5.4rem 0 0 0;
  }
  .yellow a{
    color: rgba(0,0,0,0.7);;
    text-decoration:underline;
  }

  section.process div.container{
    padding: 12.6rem 0 14.4rem 0;
    text-align: center;
    overflow-y: auto;
  }
  .process h2{
    font-weight: 600;
    margin:0 auto 0 auto;
  }
  #process_small{
    display: block;
    margin-top: 5.4rem;
    margin-left: auto;
    margin-right: auto;
  }
  #process_large{
    display: block;
    margin: 7.2rem auto 9rem auto;
    width: 95%;
  }
  article.process{
    width: 25%;
    text-align: center;
  }
  article.process h4{
    font-weight: bold;
    margin: 0 auto 7.2rem auto;
  }
  article.process h4.longword{
    font-size: 2.7rem;
  }
  article.process h5{
    margin: 2.4rem auto 0 auto;
    text-align: center;
  }
  .grey div.container{
    padding: 16.2rem 4.6% 10.8rem 4.6%;
    overflow-y: auto;
  }
  .grey .row{
    margin-bottom: 7.2rem;
    text-align: left;
    width: 100%;
  }
  .grey h2{
    color: rgba(0,0,0,0.7);
    font-family: abril, Arial,sans-serif;
    font-size: 5.4rem;

  }
  .grey section.hasFloat{
    margin: 0 0 7.2rem 0;
    overflow-y: auto;
  }
  .grey figure{
    width: 21%;
    margin: 7.2rem 0 0 11%;
    text-align: center;
  }
  .grey figure h3{
    margin: 1.8rem auto 3.6rem auto;
  }
  .grey figure p{
    margin: 0 auto 0 auto;
    line-height: 3.6rem;
  }
  .grey article.column{
    margin: 13.8rem 0 0 0;
    text-align: left;
    width: 60%
  }
  .grey article.column p{
    font-size: 2.8rem;
    line-height: 4.5rem;
  }
  img.quotation_mark{
    display: block;
    margin-left: 0rem;
    margin-bottom: 1.8rem;
    height: 3.2rem;
  }
  footer div.container{
    padding:0 4rem 12.6rem 4rem;
  }
  footer p.social{
    display: inline-block;
    float: right;
    margin-top: 3.6rem;
  }
  i.social{
    display: inline-block;
    margin-left: 3.5rem;
  }
  /*background image*/
  .brain,
  .data,
  .bus,
  .curve{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .brain{
    background-image: url("../images/brain.png");
  }
  .bus{
    background-image: url("../images/bus.png");
  }
  .data{
    background-image: url("../images/data.png");
  }
  .curve{
    background-image: url("../images/curve_large.png");
    background-size: contain;
  }


/*mobile*/
@media screen and (max-width:1200px) {
  .desk{
    display:none;
  }
  i.mobile.bars{
    display:inline-block;
  }
  img#process_small.mobile{
    display: block;
  }

  /*overall*/
  *{
    box-sizing: border-box;
  }
  html{
    font-size: 10px;
    font-family: droid_sans,arial,sans-serif;
  }
  div.container{
    margin: 0 auto 0 auto;
    width:90%;
  }
  /*font at various sizes*/
  h1{
    font-size: 4.5rem;
    font-family: abril,arial,sans-serif;
  }
  h2{
    font-size: 3.6rem;
  }
  h3{
    font-size: 3.6rem;
  }
  h4{
    font-size: 2.4rem;
  }
  h5{
    font-size: 2.4rem;
  }
  p{
    font-size: 2.4rem;
  }
  a button{
    font-size: 2.4rem;
  }
  /*picture size*/
  #hero{
    width: 27.5rem;
  }
  #process_small{
    width: 334px;
  }
  #process_large{
    width: 95%
  }
  #matt, #mike{
    width: 130px;
  }
  img.logo{
    float: left;
    height:3rem;
  }
  i.bars{
    font-size: 2.9rem;
  }
  i.social{
    font-size: 2.2rem;
  }
  /*boxes*/
  /*boxes floating*/
  .column{
    float: left;
  }
  .testmony{
    float: right;
  }
  /*overflow control*/
  section.green,
  section.purple,
  section.black,
  section.yellow,
  section.grey{
    overflow-y: auto;
    overflow-x: hidden;
  }
  /*color boxes*/
  .green{
    background-color: #18AE64;
    color: #ffffff;
    width: 100%;
  }
  .purple{
    background-color: #AA28FF;
    color: #ffffff;
    width: 100%;
  }
  .black {
    width: 100%;
    background-color: #000000;
    color: #ffffff;
  }

  .yellow{
    width: 100%;
    background-color: #BAF080;
    color: #000000;
  }
  .grey{
    width: 100%;
    background-color: #DADADA;
    color: #000000;
  }
  /*box top bottom margin padding*/
  nav{
    padding: 1.8rem 0 0 0;
    overflow: visible;
  }
  img.logo{
    display: inline-block;
    float: left;
    margin: 0;
  }
  p.logo{
    display: inline-block;
    font-weight: bold;
    font-size: 2rem;
    margin: 1rem 0 0rem 2.4rem;
  }
  nav ul{
    display: inline-block;
    font-size: 1.8rem;
    float: right;
    margin: 3.6rem 0 0 0;
  }
  nav li{
    display: inline-block;
    margin-left: 4.2rem;
  }

  i.mobile.bars{
    display: inline-block;
    float: right;
    margin: 0;
  }
  section.green{
    text-align: center;
    padding:7.2rem 0 9rem 0;
  }
  .green div.container{
    margin: none;
    padding: none;
  }
  #hero{
    margin:0 auto 7.2rem auto;
    float: none;
  }
  article.column.slogan{
    float: none;
    margin: 0 auto;
    width: 100%;
  }
  .green h1{
    font-size: 4.2rem;
    margin: 0 auto 3.6rem auto;
    line-height: 6.75rem;

  }
  #slogan{
    margin: 0 auto;
    line-height: 3.6rem;
    width: 95%;
  }
  #slogan a{
    color: #ffffff;
  }
  .purple div.container{
    padding: 7.2rem 0 9rem 0;
    overflow-y:auto;
    text-align: center;
  }
  .purple .row{
    width: 100%;
  }
  .purple h1{
    margin: 0;
    line-height: 6.75rem;
    text-align: center;
  }
  .purple article.column{
    float: none;
    margin: 7.2rem auto 0 auto;
    text-align: center;
  }

  .purple article.column h4{
    margin-top: 2.7rem;
  }

  article.case{
    padding:5.4rem 5% 7.2rem 5%;
    width: 100%;
    text-align: left;
  }
  article.case.fixheight{
    padding: 5.4rem 5% 0 5%;
    height: 60rem;
    text-align: left;
  }
  .case h2{
    font-weight:600;
    margin:0;
    line-height: 4.5rem;
  }
  .case p{
    margin:5.4rem 0 4.5rem 0;
    line-height: 3.6rem;
  }
  p#caseIntro{
    font-size: 2.6rem;
    margin-top: 5.4rem;
    line-height: 4.5rem;
  }
  .case button{
    background-color: #000000;
    border: solid 1px #ffffff;
    color: #ffffff;
    display:block;
    font-family: droid_sans,arial,sans-serif;
    margin:1.8rem 0 0 0;
    padding: 2.7rem 0 2.7rem 0;
    text-align: center;
    width: 22.8rem;
  }
  .case a{
    text-decoration: none;
  }

  .yellow div.container{
    padding: 9rem 0 10.8rem 0;
    text-align: center;
  }

  .yellow h2{
    color: rgba(0,0,0,0.7);
    font-family:  abril,arial,sans-serif;
    font-size: 3.6rem;
    margin: 0;
  }

  .yellow h4{
    margin: 5.4rem auto 7.2rem auto;
    line-height: 3.6rem;
    width: 95%
  }
  .yellow h3{
    margin: auto;
    font-size: 2.4rem;
  }
  .yellow a{
    color: rgba(0,0,0,0.7);;
    text-decoration:underline;
  }

  section.process div.container{
    padding: 7.2rem 0 9rem 0;
    text-align: center;
    overflow-y: auto;
  }
  .process h2{
    font-weight: 600;
    margin:0 auto 5.4rem auto;
  }
  #process_small{
    display: block;
    margin-top: 5.4rem;
    margin-left: auto;
    margin-right: auto;
  }
  #process_large{
    display: none;
    margin: 7.2rem auto 9rem auto;
    width: 95%;
  }
  article.process{
    margin: 5.4rem auto 0 auto;
    text-align: center;
    width: 100%;
  }
  article.process h4{
    font-weight: bold;
    font-size: 2.6rem;
    margin: 0 auto 3.6rem auto;
  }

  article.process h5{
    line-height: 3.6rem;
    margin: 1.2rem auto 0 auto;
  }
  .grey div.container{
    padding: 7.2rem 0 0 0;
    overflow-y: auto;
    text-align: center;
  }
  .grey .row{
    width: 100%;
  }
  .grey h2{
    color: rgba(0,0,0,0.7);
    font-family: abril, Arial,sans-serif;
    font-size: 3.6rem;
    line-height: 4.5rem;
    margin-bottom: 7.2rem;
    text-align: center;
  }
  .grey section.hasFloat{
    margin: 0 0 9rem 0;
    overflow-y: auto;
  }
  .grey figure{
    float: none;
    margin: 0 auto;
    text-align: center;
    width: 90%;
  }
  .grey figure h3{
    margin: 1.8rem auto 3.6rem auto;
  }
  .grey figure p{
    margin: 0 auto 0 auto;
    line-height: 3.6rem;
  }
  .grey article.column{
    float: none;
    margin: 3.6rem auto 0 auto;
    width: 90%
  }
  .grey article.column p{
    font-size: 2.4rem;
    line-height: 3.6rem;
    text-align: center;
  }
  img.quotation_mark{
    display: block;
    height: 2rem;
    margin-left: 0.5rem;
    margin-bottom: 1.2rem;
    text-align: left;
  }

  footer div.container{
    padding:1.8rem 0 5.4rem 0;
  }
  footer p.logo{
    font-size: 2rem;
  }
  footer p.social{
    display: block;
    float:none;
    margin-top: 3.6rem;
    text-align: left;
  }
  i.social{
    display: inline-block;
    font-size: 2.4rem;
    margin-left: 1rem;
    margin-right: 3.6rem;
  }
  /*background image*/
  .brain,
  .data,
  .bus,
  .curve{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .brain{
    background-image: url("../images/brain.png");
  }
  .bus{
    background-image: url("../images/bus.png");
  }
  .data{
    background-image: url("../images/data.png");
  }
  .curve{
    background-image: url("../images/curve_small.png");
    background-size: contain;
  }
}
